<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/ds3.jpg">
</div>

<h2>Here are some links to help you start: </h2>

<ul>
  <li>
    <h2>
      <a routerLink="/lebowski/Big">
        See here the Big lebowski
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a routerLink="/lebowski/Little">
        See here the Little lebowski
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a routerLink="/lebowski/Normal">
        See here the Normal lebowski
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a routerLink="/joel/Nice">
        See here the nice Joel
      </a>
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>
