<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/ds3.jpg">
</div>

<ul>
  <li>
      <a routerLink="/wudang/Legyőzhetetlen">
        See here is the Legyőzhetetlen Vutang
      </a>
  </li>
  <li>
      <a routerLink="/lebowski/Big">
        See here the Big lebowski
      </a>
  </li>
  <li>
      <a routerLink="/lebowski/Little">
        See here the Little lebowski
      </a>
  </li>
  <li>
      <a routerLink="/lebowski/Normal">
        See here the Normal lebowski
      </a>
  </li>
  <li>
      <a routerLink="/joel/Nice">
        See here the nice Joel
      </a>
  </li>
</ul>

<router-outlet></router-outlet>
